[#include "_indexheader.html.ftlh"]

<div class="alert alert-success" role="alert">
  Example Web Application&nbsp;<small class="text-muted">Version ${version}</small>
</div>

<div>
  <h5>Endpoint Status</h5>
  <br>
  <a href="#" class="alert alert-success">Service 1</a>
  <a href="#" class="alert alert-warning">Service2</a>
  <a href="#" class="alert alert-secondary">Service3 </a>
</div>
<hr>
<div>
  <h5>Options</h5>
  <br>
  <ul>
    <li><a href="#" class="btn btn-link">Settings</a></li>
    <li><a href="#" class="btn btn-link">Log</a></li>
  </ul>
</div>
<div>
  <h5>Commands</h5>
  <br>
  <ul>
    <li><button type="button" class="btn btn-link">Stop</button></li>
  </ul>
</div>
<hr>

[#include "_indexfooter.html.ftlh"]
